.InstagramPost {
  $self: &;
  margin: 0;
  padding: 0;
  position: relative;

  &-img {
    filter: grayscale(0.5);
    transition: filter 0.4s;
  }

  &-figCaption {
    font-family: 'Reenie Beanie', cursive;
    transform: rotate(10deg);
    color: #fff;
    width: 60%;

    position: absolute;
    bottom: 50px;

    font-size: 3rem;
    color: #00f;
    text-shadow: aliceblue 1px 1px;
  }

  &:hover #{$self}-img {
    filter: grayscale(0);
  }

  & + &:nth-child(2n) #{$self}-figCaption {
    transform: rotate(-10deg);
    right: 0;
  }

  &-gramLink {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 0.3;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 1;
    }
  }
}
