.InstagramPost {
  $self: &;
  margin: 0;
  padding: 0;
  position: relative;

  &-img {
    transition: filter 0.4s;
  }

  &-figCaption {
    font-family: 'Reenie Beanie', cursive;
    transform: rotate(10deg);
    transform-origin: right bottom;
    color: #fff;
    width: 60%;

    position: absolute;
    bottom: 50px;

    font-size: 3rem;
    color: #00bcd4;
    text-shadow: aliceblue 1px 1px;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &:hover #{$self}-img {
    filter: saturate(1.5);
  }

  & + &:nth-child(2n) #{$self}-figCaption {
    transform: rotate(-10deg);
    transform-origin: left bottom;
    right: 0;
  }

  &-gramLink {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 0.3;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 1;
    }
  }
}
