.January {
  min-width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100vh);

  &-content {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
  }
}
