@keyframes ExplicitWordFade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes ExplicitWord-appear {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1);
  }
}

.ExplicitWord {
  color: #ff0000;
  animation: ExplicitWordFade 2s infinite ease-in-out, ExplicitWord-appear 1s ease-in;
  font-family: 'Reenie Beanie', cursive;
}
