@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

.Intro {
  display: flex;
  background-image: url(../../assets/medical-mask.svg);
  background-repeat: repeat round;
  background-size: 50px;
  min-height: 100%;

  &-content {
    background: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100%;
  }

  &-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
    border-radius: 50px;
    border: 3px #f00 solid;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
  }
}
