.September {
  background-color: #490052;
  color: #fff;

  &:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #490052);
  }

  .icon {
    stroke: #fff;
  }
  .VerticalTitle {
    border-color: #fff;
  }
  .Blog-readLink {
    border-color: #fff;
    color: #fff;
  }
}
